[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imageio = "*"
tifffile = "*"
imagecodecs = "*"
pandas = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
scikit-image = "*"
scipy = "*"
"ruamel.yaml" = "*"
pyyaml = "*"
addict = "*"
wandb = "*"
tqdm = "*"
opencv-python = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.6"
